.adaptive .breadcrumbs ul li.breadcrumbs_last a {
    color: #FE3D14;
}

.adaptive .top-menu .header_contacts .addr:before {
    background: #FE3D14;
}

.adaptive .umi-menu ul li.current{
    background: #FE3D14;
}

.adaptive .umi-menu ul li:hover > a{
    color: #FE3D14;
}

.adaptive .umi-menu ul.level-0 li.baby:hover:after {
    border-top-color: #FE3D14;
}

.adaptive .for-content .direction_block_title {
    color:#FE3D14;
}

.adaptive .all_system_buttons,.adaptive .all_system_buttons:hover {
    background: #FE3D14;
    color: #2b2b2b;
}

.adaptive .services-catalog-wrapper .prev#cato_prev {
    background: #FE3D14;
}

.adaptive .services-catalog-wrapper .next#cato_next {
    background: #FE3D14;
}

.adaptive .index_special_offers .prev#spec_cato_prev {
    background: #FE3D14;
}

.adaptive .index_special_offers .next#spec_cato_next {
    background: #FE3D14;
}

.adaptive .news_block .news_item .read-more a{
    background: #FE3D14;
}

.adaptive .advantages_block{
    background: #FE3D14;
}

.adaptive .umi-menu .btn.btn-umi-shop:focus {
    outline-color: #FE3D14;
}

.adaptive .top-menu .header_contacts:before {
    filter: hue-rotate(315deg)saturate(300%)brightness(1);
}

.adaptive .index_special_offers .h2:after {
    filter: hue-rotate(315deg)saturate(300%)brightness(1);
}

.adaptive .footer .footer-in .social #social_block {
    filter: hue-rotate(315deg)saturate(300%)brightness(1);
}

.adaptive .search#min_lens .search_form.search2 .submit_button {
    filter: hue-rotate(315deg)saturate(300%)brightness(1);
}